<div matchHeight="card">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Question <span *ngIf="!isNew" class="text-secondary">&ndash; {{ questionId }}</span></h4>
          <h4 class="card-subtitle" *ngIf="isNew">New question</h4>
        </div>
        <div class="card-block">
          <form novalidate name="add-edit-question-form">
            <div class="form-row">
              <div class="form-group col-3 justify-content-end">
                <label for="difficulty">Question difficulty</label>
                <input id="difficulty" name="difficulty" type="text" class="form-control" [readonly]="!isNew">

                <!--{{ difficulties }}-->
                <!--<button type="button" class="btn btn-info">{{ model.difficulty }}</button>-->
                <!--<div class="dropdown-menu" *ngFor="let difficulty of difficulties"><a class="dropdown-item" href="#"> {{ difficulty }} </a>-->


                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown button
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </div>

              </div>

              <div class="form-group col-3 justify-content-end">
                <label for="category">Question category</label>
                <input id="category" name="category" type="text" class="form-control" [(ngModel)]="model.category" [readonly]="!isNew">
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-12">
                <label for="category">Question</label>
                <textarea id="question" name="question" type="text" class="form-control" rows="3" [(ngModel)]="model.question" [readonly]="!isNew"></textarea>
              </div>
            </div>

            <div *ngIf="withAnswer" class="form-row">
              <div class="form-group col-12">
                <label for="candidate-answer">Answer</label>
                <textarea id="candidate-answer" name="candidate-answer" class="form-control" placeholder="Candidate Answer" rows="3" [(ngModel)]="model.answer"></textarea>
              </div>
            </div>

            <div class="row col-3 justify-content-end">
              <div class="justify-content-end">
                <button class="btn btn-raised btn-info m-2" type="button" (click)="onCancel()">Cancel!</button>
                <button class="btn btn-raised btn-primary m-2" type="submit" (click)="onSave()">Save!</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
